.container{
  background-color: dodgerblue;
}
#box1{
width: 100px;
height: 100px;
background-color: #255f5a;
}

*{
    color:#f1f1f1;
    font-size: large;
    padding: 10px;
    
}
section{
    background-color: #255f5a;
    border-radius: 10px;
}

h2{
    color: rgb(236, 239, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
h3{
    font-size: medium;
    color: rgb(243, 230, 230);
}
.elementselector{
    margin-top: 10px;
    background-color:rgb(11, 60, 105);
    border-radius: 10px;
}
.ClassSelector{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(233, 229, 220); 
    border-radius: 10px;
    margin-top: 10px;
    background-color: orange;
    font-size: 30px;
}
.para{
    font-size:18px;
}
#identified {
    background-color: rgb(239, 240, 241); border-radius: 5px;    color: black;
  }
  .identified{
    font-family: sans-serif;

    border-radius: 10px;
    margin-top: 10px;
    background-color: rgb(165, 99, 99);
    font-size: 30px;
  }
  .btn{
    margin-top: 10px;
    background-color: #1e867d;
  }  
  p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
 a{
    text-decoration: none;
    color: rgb(244, 245, 247);
    transition: color 0.3s;
 }
  a:hover{
    color: #053e38;
  }
  a:active{
    color: rgb(2, 27, 28);
  }
  .before{
    margin-top: 10px;
    background-color: #42634c;
  }  
.p1::before{
    content: "@@@";
color: rgb(251, 67, 6);
}.p2::after{
    content: "###";
color: rgb(1, 17, 62);
}
